In [1]:
!pip install pyspark
!pip install pyarrow
!pip install -q findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
df = spark.read.json("/content/people.json")

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [11]:
# true saying that if it is null then it's okay if it false then it gives you error when we have a null value 
data_schema = [StructField("age",IntegerType(),True),
               StructField("name",StringType(),True)]

In [12]:
final_struc = StructType(fields=data_schema)

In [13]:
df = spark.read.json("/content/people.json",schema=final_struc)

In [14]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [15]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [16]:
df['age']

Column<'age'>

In [17]:
type(df['age'])

pyspark.sql.column.Column

In [18]:
df.select("age").show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [19]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [20]:
df.select(["age","name"]).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
df.withColumn("double age",df["age"]*2).show()

+----+-------+----------+
| age|   name|double age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [22]:
df.withColumnRenamed("name","NAME").show()

+----+-------+
| age|   NAME|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
df.createOrReplaceTempView("people")

In [24]:
results=spark.sql("SELECT * FROM people")

In [25]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
new_results=spark.sql("SELECT * FROM PEOPLE WHERE age=30")

In [27]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+